<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manutenção C4 Cactus</title>
    <style>
        body { font-family: sans-serif; margin: 0em; }
        /* table { width: 100%; border-collapse: collapse; }
        th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
        a { text-decoration: none; background-color: #007bff; color: white; padding: 10px 15px; border-radius: 5px; } */
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <div class="container-flex mx-2">
        <h1>Histórico de Manutenção - C4 Cactus</h1>
        <hr>
        <p class="text-end"><a href="/novo" class="btn btn-sm btn-primary">Adicionar Nova Manutenção</a></p>
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr class="table-dark text-center">
                    <th>Data</th>
                    <th>Serviço</th>
                    <th>KM</th>
                    <th>Custo</th>
                    <th>Detalhes</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <% manutencoes.forEach(manutencao => { %>
                    <tr>
                        <td class="align-middle"><%= new Date(manutencao.data + 'T03:00:00Z').toLocaleDateString('pt-BR') %></td>
                        <td class="align-middle"><%= manutencao.servico %></td>
                        <td class="align-middle"><%= manutencao.quilometragem.toLocaleString('pt-BR') %></td>
                        <td class="align-middle"><%= manutencao.custo.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></td>
                        <td><a href="/manutencao/<%= manutencao.id %>" class="btn btn-sm btn-primary">Abrir</a></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>